ol{
	list-style-type: none;
	margin: 0;
	padding: 0px;
	overflow: hidden;
	position: sticky;
	top: 0;
	text-align: center;
}
li{
	float: right;
	/*border-right: 1px solid;	*/
}
li a{
	display: block;
	padding: 4px 6px;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
}
li a:link{
	text-align: left;
	color: black;
}
li a:visited{
	background-color: darkcyan;
	color: black;
}
li a:hover{
	background-color: darkgreen;
	color: black;
}
li a:active{
	background-color: darkorange;
	color: black;
}

header{
    color: blue;
    text-align: center;
}
figure{
	border: thin #c0c0c0 solid;
	padding: 2px;
	margin: auto;
	text-align: center;
}
figcaption{
	background-color: rgb(112, 90, 212);
	color: #fff;
	font: italic smaller sans-serif;
	/*padding: 3px;*/
	text-align: center;
}
img{
    width: 250px;
    height: 200px;

}

img, img:hover{/*pseudo clase*/
	transition: all 2s ease-in-out;
}

.Imgcomponente:hover .zoom{
    transform: scale(2.5);
}
.resultadoSuma{
    color: brown;
    font-weight: 300;
}
.resultado{
    text-align: right;
}
